#profile_icon{
    height:30px;
    width:30px;
}
button p nav{
    margin:0px;
}



.novel_cards_dashboard{
    border: 1px solid gray;
    height: 35vh;
    overflow:hidden;
}
.novel_info_list{
    line-height: 2rem;
    font-size: small;
    text-align: center;
    margin-left: -40px;
    margin-top: -20px;
}

@media (max-width:575px){
    .novel_cards_dashboard{
        display: inline-block;
        width:40vw;
        height:40vh;
    }
}
@media (max-width:330px){
    .novel_cards_dashboard{
        display: block;
        width:60vw;
        height:40vh;
    }
}