@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
    font-family: "Poppins", sans-serif;
}
.personal_info_list, .novel_info_list{
    list-style: none;
    line-height: 2rem;
    word-wrap: break-word;

}
.personal_info_list input , .novel_info_list input{
    height:1.5rem;
    width:50%;
}
.profile_image{
    height:100%;
    width:100%;
    border-radius: 10%;
    border: 1px solid gray;
}

.personal_info , .mynovels_info, .mynovels_edit , .my_genres , .personal_info_edit ,.navigation_bar{
    border: 1px solid gray;
    border-radius: 10px;
}

.personal_info , .mynovels_info{
    display:flex;
}
.personal_info_edit, .mynovels_edit{
    display:none;
}


.remove_novel_button{
    padding-right:0px;
    float: right;
    margin-right:0px;
}
.remove_novel_button input{
    width:60%;
    margin-right:0px;
    float:right;
    padding-right:0px;
} 

.hide_infor{
    display:none;
}
.display_infor{
    display:flex;
}

.novel_image{
    height:50%;
    width:60%;
    border: 1px solid gray;
    display: block;
    margin: auto;
}

.novel_cards{
    border: 1px solid gray;
    height: 35vh;
    overflow: hidden;
}

.novel_info_list{
    font-size: small;
    display: block;
    margin:auto;

}

@media (max-width:574px){
    .personal_info , .mynovels_info, .mynovels_edit ,.my_genres , .personal_info_edit{
        border: 0px;
    }
    .remove_novel_button{
        float:left;
        margin-top:10px;
    }
    .profile_image, .novel_image{
        height:80%;
        width:80%;
        
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .personal_info h1{
        margin-left:10px;
    }
    .novel_info_list{
        margin-top:20px;
    }
} 
@media(max-width:334px)
{
    .remove_novel_button input{
        width:100%;
        margin-bottom: 10px;
        margin-top:20px;
    }
    .novel_cards{
        width: 70%;
        height: 50%;
    }
}